receivers:
  hostmetrics:
    collection_interval: 10s
    scrapers:
      cpu:
        metrics:
          system.cpu.time:
            enabled: true
          system.cpu.frequency:
            enabled: false
          system.cpu.logical.count:
            enabled: true
          system.cpu.physical.count:
            enabled: false
          system.cpu.utilization:
            enabled: false
      disk:
        metrics:
          system.disk.io:
            enabled: true
          system.disk.io_time:
            enabled: true
          system.disk.merged:
            enabled: false
          system.disk.operation_time:
            enabled: true
          system.disk.operations:
            enabled: true
          system.disk.pending_operations:
            enabled: true
          system.disk.weighted_io_time:
            enabled: true
      load:
        metrics:
          system.cpu.load_average.15m:
            enabled: true
          system.cpu.load_average.1m:
            enabled: true
          system.cpu.load_average.5m:
            enabled: true
      filesystem:
        metrics:
          system.filesystem.inodes.usage:
            enabled: false
          system.filesystem.usage:
            enabled: true
          system.filesystem.utilization:
            enabled: true
      memory:
        metrics:
          system.memory.usage:
            enabled: true
          system.linux.memory.available:
            enabled: true
          system.linux.memory.dirty:
            enabled: false
          system.memory.limit:
            enabled: true
          system.memory.page_size:
            enabled: false
          system.memory.utilization:
            enabled: true
      network:
        metrics:
          system.network.connections:
            enabled: false
          system.network.dropped:
            enabled: true
          system.network.errors:
            enabled: true
          system.network.io:
            enabled: true
          system.network.packets:
            enabled: true
          system.network.conntrack.count:
            enabled: false
          system.network.conntrack.max:
            enabled: false
#      nfs:
#        metrics:
#          nfs.client.net.count:
#            enabled: false
#          nfs.client.net.tcp.connection.accepted:
#            enabled: false
#          nfs.client.operation.count:
#            enabled: false
#          nfs.client.procedure.count:
#            enabled: false
#          nfs.client.rpc.authrefresh.count:
#            enabled: false
#          nfs.client.rpc.count:
#            enabled: false
#          nfs.client.rpc.retransmit.count:
#            enabled: false
#          nfs.client.fh.stale.count:
#            enabled: false
#          nfs.server.io:
#            enabled: false
#          nfs.server.net.count:
#            enabled: false
#          nfs.server.net.tcp.connection.accepted:
#            enabled: false
#          nfs.server.operation.count:
#            enabled: false
#          nfs.server.procedure.count:
#            enabled: false
#          nfs.server.repcache.requests:
#            enabled: false
#          nfs.server.rpc.count:
#            enabled: false
#          nfs.server.thread.count:
#            enabled: false
      paging:
        metrics:
          system.paging.faults:
            enabled: false
          system.paging.operations:
            enabled: true
          system.paging.usage:
            enabled: true
          system.paging.utilization:
            enabled: true
      processes:
        metrics:
          system.processes.count:
            enabled: true
          system.processes.created:
            enabled: false
      process:
        metrics:
          process.cpu.time:
            enabled: false
          process.disk.io:
            enabled: false
          process.memory.usage:
            enabled: false
          process.memory.virtual:
            enabled: false
          process.context_switches:
            enabled: false
          process.cpu.utilization:
            enabled: true
          process.disk.operations:
            enabled: false
          process.handles:
            enabled: false
          process.memory.utilization:
            enabled: true
          process.open_file_descriptors:
            enabled: false
          process.paging.faults:
            enabled: false
          process.threads:
            enabled: false
          process.uptime:
            enabled: false
      system:
        metrics:
          system.uptime:
            enabled: true
exporters:
  proimetheus:
    endpoint: "0.0.0.0:9464"

  influxdb:
    endpoint: http://influxdb:8086
    timeout: 5s
    v1_compatibility:
      enabled: true
      db: testdb
      username: admin
      password: admin
    span_dimensions:
      - service.name
      - span.name
    log_record_dimensions:
      - service.name
    metrics_schema: telegraf-prometheus-v1
    sending_queue:
      enabled: true
      num_consumers: 3
      queue_size: 10
    retry_on_failure:
      enabled: true
      initial_interval: 1s
      max_interval: 3s
      max_elapsed_time: 10s

  debug:
    verbosity: detailed

service:
  pipelines:
    metrics:
      receivers: [hostmetrics]
      exporters: [prometheus, influxdb,  debug]
